<!DOCTYPE html>
<html>

<head>
    <title>FRCBot</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700&display=swap" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
</head>

<body>
    <div id="header">
        <img src="/img/logo.svg" style="width:200px;background-color:white;border-radius:7px">
        <h1>FRCBot</h1>
        <a
            href="https://slack.com/oauth/v2/authorize?client_id=<%- client_id %>&scope=<%- scopes %>&redirect_uri=<%- redirect_uri %>"><img
                alt="Add to Slack" height="40" width="139" src="https://platform.slack-edge.com/img/add_to_slack.png"
                srcset="https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x" /></a><br />
                <a class="btn btn-success" href="https://announcekit.app/frcbot/changelog" target="_blank">Subscribe to the changelog</a><br />
        <span>Powered by <a href="https://www.thebluealliance.com"
                style="color: white">The Blue Alliance</a>.</span>
    </div>
    <div style="margin: 30px 0">
        <h1>Get match notifications, team info, and more, right in Slack.</h1><br />
        <img src="/img/team.png" class="img" /><br />
        <img src="/img/match.png" class="img" /><br />
        <img src="/img/schedule.png" class="img" /><br />
        <a
            href="https://slack.com/oauth/v2/authorize?client_id=<%- client_id %>&scope=<%- scopes %>&redirect_uri=<%- redirect_uri %>"><img
                alt="Add to Slack" height="40" width="139" src="https://platform.slack-edge.com/img/add_to_slack.png"
                srcset="https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x" /></a>
    </div>
    <div id="footer">
        Created by <a href="https://calebdenio.me">Caleb Denio</a> from <a href="https://deniosoftware.com">Denio
            Software</a>. &middot; <a href="/privacy">Privacy</a> &middot; <a href="/support">Submit feedback</a>
            <br /><a href="https://github.com/deniosoftware/frcbot">Star on GitHub</a>
    </div>
</body>

</html>